<h2>Cart Details</h2>

<h3>Products in Cart:</h3>
<ul>
  {{#each cart.products}}
    <li>
      <a href="/products/{{this.product._id}}">{{this.product.title}}</a>
      - Quantity:
      {{this.quantity}}
    </li>
  {{/each}}
</ul>

<!-- Profile link -->
<a href="/profile">Check your Profile</a>

<!-- Back to Home link -->
<a href="/products">Start viewing products</a>

<!-- Logout Button -->
<form action="/api/sessions/logout" method="post">
  <button type="submit">Logout</button>
</form>