<h2>Login</h2>
<form action="/api/sessions/login" method="post">
  Email:
  <input type="email" name="email" id="email" />
  Password:
  <input type="password" name="password" id="password" />
  <input type="submit" value="LOGIN" />
</form>

<a href="/api/sessions/github">
  <button>Login with GitHub</button>
</a>

<a href="/api/sessions/oauth2/redirect/accounts.google.com">
  <button>Login with Google</button>
</a>

<a href="/forgotPassword">
  <button>Forgot your password?</button>
</a>

<h3>New User?</h3>
<button onclick="location.href='/register'">Go to Register</button>