<h2>Reset Your Password</h2>

<p>Please enter your new password:</p>

<form id="resetPasswordForm">
  <label for="password">New Password:</label>
  <input type="password" id="password" name="password" required />
  <button type="submit">Reset Password</button>
</form>

<div id="errorMessage" style="display: none; color: red;"></div>

<button onclick="location.href='/login'">Back to Login</button>

<script src="../js/resetPass.js"></script>